* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.union {
    background: linear-gradient(130deg, rgba(0, 117, 255, 0.11) 11.7%, rgba(19, 25, 33, 0.11) 74.89%), rgba(16, 17, 19, 0.80);
    backdrop-filter: blur(50px);
}

// .slick-slider{
//     position: absolute !important;
//     top: 0;
//     left: 0;
// }